{% extends 'steamdb/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>app Detail</title>
    <script>
        {% block script %}
            $(document).ready(function(){
                $("#edit_field").hide()
                $("#edit_button").click(function () {
                    $("#edit_field").show()
                    $("#edit_button").hide()
                });
                $("#cancel_button").click(function () {
                    $("#edit_field").hide()
                    $("#edit_button").show()
                })

            });
        {% endblock %}
    </script>
</head>
<body>
{% block body %}
    <h1>NAME:{{ app.app_name }}</h1>
    <p>ID:{{ app.app_id }}</p>
    <p>AT A GLANCE:{{ app.app_desc }}</p>
    <p>TAGS:{{ app.app_tag }}</p>
    <p>PUBLISHER:{{ app.app_publisher }}</p>
    <p>DEVELOPER:{{ app.app_developer }}</p>
    <p>HISTORY REVIEWS:{{ app.app_history_reviews }}</p>
    <p>RECENT REVIEWS:{{ app.app_recent_reviews }}</p>
    <p>THUMBNAIL:{{ app.app_thumbnail }}</p>
    <p>RELEASE DATE:{{ app.app_release_date }}</p>
    <p>PRICE:{{ app.app_price }}</p>
    <p>NEWS:{{ app.app_news }}</p>
    <p><a href="https://store.steampowered.com/app/{{ app.app_id }}" target="_blank">steam link</a></p>
    <button id="edit_button" value="EDIT">EDIT</button>
    <form action="{% url 'steamdb:app_delete' app.app_id %}" method="post" style="display: inline">
    {%  csrf_token %}
        <input type="submit" value="DELETE">
    </form>
    <br><br>

    <fieldset id="edit_field">
    <legend>Edit app info</legend>
        <form method="post" enctype="multipart/form-data"
              class="edit_form" action="{% url 'steamdb:app_edit' app.app_id %}"
              style="display: inline">
        {% csrf_token %}
            {{ app_edit_form.as_p }}
        <button type="submit">UPLOAD</button>
        </form>
        <button id="cancel_button">CANCEL</button>
    </fieldset>

    <a href="{% url 'steamdb:app_summary' %}">BACK TO SUMMARY</a>
{% endblock %}
</body>
</html>